<div class="ui segment">
    <h1 class="ui center aligned header">
          <%= link_to "歴史ライブラリ", root_path %> 
      <div class="sub header"><br/>
      日本史・世界史の人物名鑑です。<br/>
      ネットに落ちている情報、ユーザー様からの事務局への情報により運営されています。<br/>
      趣味、受験勉強にお役立てください。</div>
    </h1>
  <h3 class="ui right aligned header">
  </h3>
</div>



